
<div class="row p-3 mb-3 mt-3 bg-dark">
    <div class="col-6">
        <h2 class="font-weight-light text-white">Products List </h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-outline-light text-white" id="create-new-item-link" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; Create New Product</a>
    </div>
</div>

<div class="p-4 border rounded ">
    <table id="table-data" class=" table-striped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>Title</th>
                <th>Short Description</th>
                <th>Price</th>
                <th>Manufacturer</th>
                <th>Category</th>
                <th scope="col">Image</th>
                <th>Last Edit</th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>

    @section Scripts{

        <script src="~/js/Admin/Product/product.js"></script>

    }
