<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdrianEShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!--TO DO: ADD CUSTOM navbar admin css theme-->
        <nav class="navbar navbar-light navbar-expand-sm navbar-toggleable-sm" style="background-color: #ff7e75;" id="main-nav">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/images/brand-icon.svg" width="30" height="30" alt="" />
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#explore-head-section" class="nav-link">Content Management</a>
                        </li>
                        <li class="nav-item">
                            <!-- Add dropdown based on categories-->
                            <a href="#create-head-section" class="nav-link">Our Products</a>
                        </li>
                        <li class="nav-item">
                            <a href="#share-head-section" class="nav-link">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-5 mr-auto" id="nav-search-bar">
                        <li id="header-search-bar-wrapper" class="nav-item">
                            <form class="form-inline">
                                <input id="header-search-bar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="custom-footer" class="border-top footer bg-light text-center text-md-start">
        <div class="container mr-auto pl-3">
            <form action="">
                <div class="row mt-3">
                    <div id="footer-newsletter-form" class="col-6 pt-2">
                        <div class="row">
                                <p><strong>Sign up for our newsletter</strong></p>
                        </div>
                        
                        <div class="row">
                                <div class="form-outline pt-2">
                                    <input type="email" placeholder="example@email.com" id="form5Example2" class="form-control" />
                                </div>
                        </div>
                        <div class="row pt-2">
                                <button type="submit" class="btn btn-outline-primary mb-4">Subscribe</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="text-center pb-3">
            © <span id="currentYear"></span> Copyright
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
